/* Boutons radio */
.qcm {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 8px;
    column-gap: 10px;
    align-items: center;
}

/* Bouton 'vérifier' */
button {
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
}

/* Couleur du surligneur - mots à analyser */
mark{
    background-color: peachpuff;
}