.qcm {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 8px;
    column-gap: 10px;
    align-items: center;
}

button {
    border-radius: 3px;
    border-style:double;
    padding: 5px;
    margin: 10px;
    background-color: rgb(208, 243, 191);
}

mark{
    background-color: peachpuff;
}