body {
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    background-color: rgb(149, 37, 37);
    color: #f0f0f0;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h2 {
    text-align: center;
    padding: 15px;
    margin: 0;
    background-color: rgba(238, 238, 241, 0.582);
}

.consigne-section {
    font-weight: bold;
}

nav#menu {
    display: flex;
    justify-content: center;
    background-color: beige;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top: 2px solid goldenrod;
}

nav#menu a {
    color: rgb(220, 20, 160);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

nav#menu a:hover {
    color: chocolate;
    background-color: chartreuse;
}

.paragraphe {
    width: 90%;
    padding: 20px;
    margin: 5px;
    border: 2px solid gold;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

footer {
    border-top: 2px solid goldenrod;
    background-color: rgb(149, 37, 37);
    text-align: center;
    padding: 15px;
}

.rep_1,
.rep_5,
.ex3-aux {
    cursor: pointer;
    padding: 6px 10px;
    margin: 0 6px;
    background-color: #f5f2d6;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
}

.rep_1:hover,
.rep_5:hover,
.ex3-aux:hover {
    background-color: #e8e3b8;
}

.selected {
    background-color: #ffd966 !important;
}

.correct {
    background-color: #a3e6a3 !important;
}

.wrong {
    background-color: #e6a3a3 !important;
}
